body {
    min-height: 100vh; /* 최소 높이를 화면의 높이로 설정 */
    margin: 0; /* 기본 마진 제거 */
    background-color: #91C788; /* 배경색 설정 */
    font-family: Arial, sans-serif; /* 폰트 설정 */
    color: #FEFFDE; /* 텍스트 기본 색상 */
}

.navbar {
    background-color: #52734D; /* Navbar 배경색 설정 */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #FEFFDE; /* 텍스트 색상 변경 */
}

.navbar .nav-link:hover {
    color: #DDFFBC; /* 링크 hover 시 색상 변경 */
}

@media (max-width: 768px) { /* Bootstrap의 모바일 뷰포트 기준 */
    .navbar-brand {
        font-size: 18px; /* 브랜드 글자 크기 줄이기 */
        padding-right: 10px; /* 우측 패딩 줄이기 */
    }
    .nav-link {
        font-size: 14px; /* 링크 텍스트 크기 줄이기 */
        padding: 8px 10px; /* 패딩 조정 */
    }
    .navbar-nav {
        margin-left: 30px; /* Navbar 항목들의 좌측 마진 제거 */
    }
}

.container {
    max-width: 80%; /* 컨테이너의 최대 너비를 설정 */
    margin: auto; /* 좌우 마진 자동으로 설정하여 가운데 정렬 */
    padding: 20px;
    background-color: #FEFFDE; /* 컨테이너 배경색 */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #52734D; /* 제목 색상 */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 카드 내의 요소들을 위아래로 정렬 */
    height: 100%; /* 카드의 높이를 100%로 설정하여 부모 요소의 높이를 채움 */
    background-color: #DDFFBC; /* 카드의 배경색 */
    border: 1px solid #52734D; /* 카드 테두리 색상 */
    border-radius: 15px; /* 카드 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s; /* 카드에 호버 효과 추가 */
}

.card:hover {
    transform: translateY(-5px); /* 카드 호버 시 위로 이동 */
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 15px; /* 이미지 모서리 둥글게 */
    border-top-right-radius: 15px; /* 이미지 모서리 둥글게 */
}

.card-body {
    background-color: #52734D; /* 카드 본문 배경색 */
    color: #FEFFDE; /* 카드 본문 텍스트 색상 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 카드 본문을 하단에 정렬 */
    padding: 15px;
    text-align: center;
    font-size: smaller;
    line-height: 1.4; /* 줄 간격 조정 */
    border-bottom-left-radius: 15px; /* 카드 본문 모서리 둥글게 */
    border-bottom-right-radius: 15px; /* 카드 본문 모서리 둥글게 */
}

.card-body p {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    max-width: 960px;
    margin: auto;
    background: #FEFFDE; /* 그리드 배경색 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px; /* 그리드 모서리 둥글게 */
}
